apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-med-app
  labels:
    app: flask
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flask
  template:
    metadata:
      labels:
        app: flask
    spec:
      containers:
      - name: flask-med-container
        image: flask-med-app:latest
        imagePullPolicy: IfNotPresent
        ports:
          - containerPort: 4000
        envFrom:
          - secretRef:
              name: llmops-secrets
---
apiVersion: v1
kind: Service
metadata:
  name: flask-med-service
spec:
  type: LoadBalancer
  selector:
    app: flask
  ports:
    - protocol: TCP
      port: 80
      targetPort: 4000